<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-09-11-see-you-again.md</key>
			<dict>
				<key>lastModification</key>
				<real>532787301.09289002</real>
				<key>version</key>
				<dict>
					<key>dbc2b18e9d99b06459af2e0192e46fdd8066ef333b3ca3dab68c4b9cc9afb7e4</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-09-12-What-I-Don’t-Like-About-Error-Handling-in-Go-and-How-to-Work-Around-It-转.md</key>
			<dict>
				<key>lastModification</key>
				<real>532787301.09289002</real>
				<key>version</key>
				<dict>
					<key>dbc2b18e9d99b06459af2e0192e46fdd8066ef333b3ca3dab68c4b9cc9afb7e4</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-11-13-golang-如何判断-struct-null.md</key>
			<dict>
				<key>lastModification</key>
				<real>532787301.09289098</real>
				<key>version</key>
				<dict>
					<key>dbc2b18e9d99b06459af2e0192e46fdd8066ef333b3ca3dab68c4b9cc9afb7e4</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-11-15-Tips-in-Golang.md</key>
			<dict>
				<key>lastModification</key>
				<real>532787301.09289098</real>
				<key>version</key>
				<dict>
					<key>dbc2b18e9d99b06459af2e0192e46fdd8066ef333b3ca3dab68c4b9cc9afb7e4</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-11-15-golang-字符串拼接.md</key>
			<dict>
				<key>lastModification</key>
				<real>532787301.09289098</real>
				<key>version</key>
				<dict>
					<key>dbc2b18e9d99b06459af2e0192e46fdd8066ef333b3ca3dab68c4b9cc9afb7e4</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-11-16-Golang“继承”.md</key>
			<dict>
				<key>lastModification</key>
				<real>532788900.76109397</real>
				<key>version</key>
				<dict>
					<key>dbc2b18e9d99b06459af2e0192e46fdd8066ef333b3ca3dab68c4b9cc9afb7e4</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>无标题 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>532788991.19016302</real>
				<key>lastModification</key>
				<real>532788991.19016302</real>
				<key>version</key>
				<dict>
					<key>dbc2b18e9d99b06459af2e0192e46fdd8066ef333b3ca3dab68c4b9cc9afb7e4</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>532788988.16156399</real>
				<key>lastModification</key>
				<real>532788988.16156399</real>
				<key>version</key>
				<dict>
					<key>dbc2b18e9d99b06459af2e0192e46fdd8066ef333b3ca3dab68c4b9cc9afb7e4</key>
					<integer>24</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-09-11-see-you-again.md</string>
		</array>
		<array>
			<string>2017-09-12-What-I-Don’t-Like-About-Error-Handling-in-Go-and-How-to-Work-Around-It-转.md</string>
		</array>
		<array>
			<string>2017-11-13-golang-如何判断-struct-null.md</string>
		</array>
		<array>
			<string>2017-11-15-golang-字符串拼接.md</string>
		</array>
		<array>
			<string>2017-11-15-Tips-in-Golang.md</string>
		</array>
		<array>
			<string>2017-11-16-Golang“继承”.md</string>
			<string>无标题.md</string>
			<string>无标题 - 2.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dbc2b18e9d99b06459af2e0192e46fdd8066ef333b3ca3dab68c4b9cc9afb7e4</key>
			<integer>25</integer>
		</dict>
	</dict>
</dict>
</plist>
